<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Meu Projeto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% if session.get('username') %}
                <a href="{{ url_for('main.logado') }}">Logado</a>
            {% endif %}
        </nav>
        
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
